:root {
  --beigeDB: #9C8170;
  --beigeLB: #CFB895;
  --beigeShadow: #897D5E;
  --DeepCoffee: #6A423D;
  --Green: #648981;
}


* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: var(--beigeDB);
}